@{
    ViewData["Title"] = "Elemental";
}
<style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<section id="inicio" class="first-section d-flex align-items-center text-center" style="background-image: url('/img/section1back.png');  width: 100%; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5">
                <h1 class="text-white">Software para gestión de ventas e inventario.</h1>
                <p class="text-white">Simplifica y expande tu negocio con un sistema ágil que conecta tus locales físicos con tu E-commerce.</p>
            </div>
            <div class="col-md-8">
                <img src="/img/laptop.png" alt="Laptop" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="soluciones" class="second-section d-flex align-items-center" style="background-image: url('/img/fondoventas.png'); background-size: cover; width: 100%;">
    <div class="container mb-5">
        <div class="col-md-8 mx-auto d-flex text-center mt-5 ">
            <h2 style="color: #004B7D; font-weight: 700;">Empodera tu negocio con todo lo que necesitas para tener el control</h2>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mt-5">
                <img src="/img/ventas.png" alt="Ventas" class="img-fluid shadow-bottom">
            </div>
            <div class="col-md-6 mt-5">
                <button type="button" class="btn botonceles">Ventas</button>
                <div class="d-flex flex-column align-items-start mt-4">
                    <p>Maximiza tus ventas y controla las transacciones en todos tus locales comerciales. Agiliza la gestión de tu negocio para ofrecer una experiencia excepcional a tus clientes.</p>
                    <ul style="list-style: none;" class="mt-4">
                        <li class="">
                            <img src="/img/check.png" alt="Check" class="img-fluid">
                            Vende donde estés con un sistema en la nube 100% web.
                        </li>
                        <li class="mt-4">
                            <img src="/img/check.png" alt="Check" class="img-fluid">
                            Maneja múltiples medios de pago.
                        </li>
                        <li class="mt-4">
                            <img src="/img/check.png" alt="Check" class="img-fluid">
                            Realiza descuentos, crea packs promocionales y ventas por volumen.
                        </li>
                        <li class="mt-4">
                            <img src="/img/check.png" alt="Check" class="img-fluid">
                            Genera tickets de pre-venta.
                        </li>
                        <li class="mt-4">
                            <img src="/img/check.png" alt="Check" class="img-fluid">
                            Sistema de emergencias para trabajar offline.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="contacto" class="third-section" style="background-color: #0CB7F2;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 align-self-center mt-5">
                <h2 style="color: white;">Estamos listos para trabajar juntos</h2>
                <p style="color: white;">Si necesitas mayor asesoría, contáctanos vía WhatsApp o agenda una reunión con nosotros.</p>
                <button type="button" class="btn btn-primary mb-4" style="background-color: white; color: #0CB7F2;border-radius: 37px">Trabajemos juntos</button>
            </div>
            <div class="col-md-6">
                <img src="/img/trabaja.png" alt="Trabaja" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="comienza" class="fourth-section mb-5 container-fluid">
    <div class="row flex-wrap">
        <div class="col-lg-5 col-xl-5 p-5">
            <div class="row">
                <div class="col-lg-6 col-xl-6 text-white">
                    <h1 class="mb-3" style="font-size: 34px; font-weight: 800;">INSCRÍBETE</h1>
                    <p><b>¡Descubre el poder de Elemental!</b><br>Regístrate ahora y aprovecha todos los beneficios que nuestra innovadora plataforma de software ofrece para impulsar tus negocios.</p>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <img src="/img/vuela.png" alt="Imagen de Vuela" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xl-7 mb-5" style="margin-top: 150px;">
            <div class="d-flex align-items-end justify-content-center h-100">
                <div class="custom-form-container" style="border-radius: 50px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); z-index: 0;">
                    <div class="modal-content" style="border-radius: 30px;">
                        <div class="col mt-3 text-center">
                            <p style="color: #000; font-size: 24px; margin-bottom: 10px;">Bienvenido a <span style="color: #0CB7F2; font-size: 21px; font-weight: bold">ELEMENTAL</span></p>
                            <h4 style="color: #000; font-size: 32px; font-weight: 700; margin-top: 0;">CREA TU CUENTA <span style="color: goldenrod;">GRATIS</span></h4>
                        </div>
                        <div class="modal-body px-5">
                            <form id="step-1">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="nombres" style="color: #000;">Nombres</label>
                                        <input type="text" class="form-control" id="nombres" placeholder="Nombres" pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" oninput="validateInput(this)" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="apellidos" style="color: #000;">Apellidos</label>
                                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" oninput="validateInput(this)" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="nombre-empresa" style="color: #000;">Nombre de la empresa</label>
                                        <input type="text" class="form-control" id="nombre-empresa" placeholder="Nombre de la empresa" required>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="razon-social" style="color: #000;">Razón social</label>
                                    <input type="text" class="form-control" id="razon-social" placeholder="Razón social" required>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="dni" style="color: #000;">DNI</label>
                                        <input type="number" class="form-control" id="dni" placeholder="DNI" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="numero-celular" style="color: #000;">Número de celular</label>
                                        <input type="number" class="form-control" id="numero-celular" placeholder="Número de celular" required>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex align-items-center justify-content-center">
                                    <button type="button" class="btn botonceles" onclick="validateStep1()">Siguiente</button>
                                </div>
                            </form>
                            <form id="step-2" style="display: none;">
                                <div class="form-group mb-3">
                                    <label for="email" style="color: #000;">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="contrasena" style="color: #000;">Contraseña</label>
                                    <input type="password" class="form-control" id="contrasena" placeholder="Contraseña" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="confirmar-contrasena" style="color: #000;">Confirmar contraseña</label>
                                    <input type="password" class="form-control" id="confirmar-contrasena" placeholder="Confirmar contraseña" oninput="validatePasswordsMatch()" required>
                                </div>
                                <small style="color: gray;">Evita utilizar números consecutivos, como 1, 2, 3, 4, 5, 6, y también evita utilizar tu fecha de cumpleaños.</small>
                                <div class="modal-footer d-flex align-items-center justify-content-center">
                                    <button type="button" class="btn botonceles" onclick="validateStep2()">Finalizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-5 mb-5 final mobile">
            <div class="p-5">
                <p class="text-muted">Con Elemental, podrás automatizar tus procesos empresariales, desde la gestión de inventario y compras hasta la contabilidad y la generación de informes. Olvídate de las tareas tediosas y dedica tu tiempo y recursos a lo que realmente importa: hacer crecer tu negocio.</p>
            </div>
        </div>
    </div>
</section>
<script src="js/site.js"></script>